{% extends 'base.html.twig' %}

{% block title %}Connexion{{parent()}}{% endblock %}

{% block body %}
    <section class="header">
        <div class="header-brand">Christophe Chapleau</div>
        <div class="header-links">
            <a href="/">Accueil</i></a>
            <a href="/">Portfolio</a>
            <a href="/contact">Contact</a>
        </div>
    </section>
    <section class="login-block">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div class="login-form-block">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>

            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }} <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

        </form>
    </section>
    <section class="footer">
        <div class="footer-brand">&copy;2021 Christophe Chapleau • Tous droits r&eacute;serv&eacute;s</div>
        <div class="footer-links">
            <a href="/a-propos">A propos</a>
        </div>
    </section>
{% endblock %}
